*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-size: 13px;
}
body{
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color: #000;
    color: #fff;    
}
.header{
    max-width: 1140px;  
    height: 100px;  
    margin: auto;
    display: flex;
    align-items: center;   
}
.logo{
    width: 100px;
}
.logoimg{
    width: 80px;
    height: 80px;
    background-color: #b28756;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    display: flex;
    height: 100px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border-bottom: 5px solid transparent;
}
.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #b28756;
    color: #ccc;
}

.button{
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;    
    text-decoration: none;
    padding: 10px 30px;
    font-size: 0.8rem;
    margin-top: 30px;
    border-radius: 20px;
}

.banner{
    height:calc(100vh - 100px);
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position:bottom;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.84rem;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}
.banner .sliders-pointers{
    width: 100%; /*No projeto original era 100vw entretanto estava causando um bug onde aparecia um espaço ao lado da barra de rolagem algumas vezes quando se atualizava a página*/
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #b28756;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #b28756;
}

.default{
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title,
.default .section-desc{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.default .section-title{
    font-size: 1.53rem;    
}
.default .section-desc{
    font-size: 0.92rem;
    color: #ccc;
    margin-top: 10px;    
    margin-bottom: 40px;    
}
.default .section-body{
    margin: auto;
    max-width: 1140px;     
}
.default.light{
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body{
    color: #000;
}
.default.dark{
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #fff;
}
.no-padding{
    padding-bottom: 0;
}
/*CSS de áreas epecíficas*/
/*About US*/
.section-aboutus{
    display: flex;
}
.section-aboutus--left{
    flex: 1;
}
.section-aboutus--left p{
    font-size: 1.07rem;
    line-height: 25px;
    text-align: justify;
}
.section-aboutus--right{
    width: 520px;
    text-align: center;
}
.section-aboutus--right img{
    width: 470px;
    box-shadow: 0px 5px 10px #333;
}
/*Services*/
.section-services{
    display: flex;
}
.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section-services:first-child{
    border-left: 1px solid #333;
}
.section-service img{
    width: 50px;
}
.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1,38rem;
}
.section-service p{
    margin-top: 10px;
    color: #999;
}
/*Projects*/
.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section-projects--filters{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
}
.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}
.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid #b28756;
}
.section-projects--filters li:first-child{
    border-left: none;
}
.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
.section-projects--photo{
    width: 280px;    
}
.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.section-projects--photoinfo h5{
    font-size: 1.38rem;
    font-weight: 600;
}
.section-projects--photoinfo p{
    margin-top: 10px;
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}
/*Team*/
.bg-team{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .sliders{
    width: 1000vw;
    height: 100%;
}
.section-team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}
.section-team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}
.section-team-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #b28756;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team-area .pointer.active{
    background-color: #b28756;
}
.section-team--avatar{
    width: 150px;
    height: auto;
}
.section-team--avatar img{
    width: inherit;
    height: inherit;
}
.section-team--name{
    text-transform: uppercase;
    font-size: 1.30rem;
    font-weight: 600;
    margin-top: 25px;
}
.section-team--role{
    font-size: 1.07rem;
    color: #999;
    margin-top: 5px;
}
.section-team--social{
    display: flex;
    margin-top: 20px;
}
.section-team--social a{
    display: inline-flex;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}
.section-team--social a:hover{
    background-color: #b28756;
}
/*Clients*/
.section-clients{
    overflow: hidden;
    max-width: 700px;
    margin: auto;
}
.section-clients .sliders{
    width: 1000vw;
    height: 100%;
}
.section-clients .sliders-pointers{
    margin-top: 30px;
    height: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-clients .pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #b28756;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-clients .pointer.active{
    background-color: #b28756;
}
.section-clients .slide{
    width: 700px;
}
.section-clients .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
}
.section-clients--avatar{
    width: 150px;
    height: auto;    
}
.section-clients--name{    
    font-size: 1.30rem;
    font-weight: bold;    
    margin-top: 25px;     
}
.section-clients--role{
    font-size: 1.07rem;
    font-weight: 600;
    color: #333;
    margin-top: 5px;
}
.section-clients--quote{
    margin: 25px 0 10px 0;
}
.section-clients p{
    text-align: center;
    color: #333;
    line-height: 1.7rem;
}
.section-clients--ourclients{
    margin-top: 30px;    
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;            
}
.section-clients--ourclients .clients{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    max-width: 1140px;
}
.section-clients--ourclients .clients img{
    height: 40px;
}
/*Price*/  
.section-price--plans{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-bottom: 50px;   
}
.section-price--plan{
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    text-align: center;
    background-color: #fff;
    width: 200px;
    height: 100%;
    padding: 20px;
    margin-right: 20px;
}
.section-price--plan .plan-name{
    color: #333;
    text-transform: uppercase;
    font-weight: 600;    
}
.section-price--plan .plan-price{
    color: #333;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 10px;
}
.section-price--plan .plan-price--periodicity{
    color: #999;
    text-transform: uppercase;
    font-size: 0.76rem;
    margin-top: -5px;
}
.section-price--plan .plan-resources{
    color: #555;
    font-size: 0.84rem;
    margin-top: 15px;
    font-weight: 600;    
}
.section-price--plan .plan-resources .line{
    width: 15px;
    border-bottom: 1px solid #555;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.section-price--plan .button{
    background-color: #555;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;  
}
.section-price--plan .button.active{    
    background-color: #b28756;
}
.section-price--details{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;    
    text-align: center;    

}
.section-price--details .sliders{
    width: 1000vw;
    height: 100%;
}
.section-price--details .sliders-pointers{
    margin-top: 30px;
    height: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-price--details .pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #b28756;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-price--details .pointer.active{
    background-color: #b28756;
}
.section-price--details .slide{
    width: 1140px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section-price--details .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;    
    color: #000;
}
.section-price--details .slidearea .content{
    display: flex;
    flex-direction: row;
}
.section-price--details .image{
    flex: 1;
    height: 320px;    
    display: flex;
    justify-content: center;
    align-items: center;    
}
.section-price--details .image img{
    height: 90%;
    width: auto;
}
.section-price--details .features{
    flex: 1;    
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}
.section-price--details .feature-title{
    display: flex;
    align-items: center;
    font-size: 1.53rem;
    text-transform: uppercase;
    font-weight: bold;
}
.section-price--details .feature-title img{
    margin-right: 20px;    
}
.section-price--details .feature-desc{
    margin-left: 53px;
    margin-bottom: 25px;
    color: #999;
}
.section-price--details .feature-desc ul, 
.section-price--details .feature-desc li{
    margin-top: 10px;    
    list-style: none;
}
/*Some Facts*/
.section-facts{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    justify-content: center;
}
.section-facts .fact{
    width: 220px;
    height: 190px;
    padding: 5px;
    margin-right: 80px;    
    text-align: center;    
}
.section-facts .fact:last-child{
    margin-right: 0;
}
.section-facts .fact .number{
    color: #b28756;
    font-size: 3.0rem;
    font-weight: bolder;
    margin-bottom: 5px;
}
.section-facts .fact .trace{    
    width: 20px;
    height: 5px;
    background-color: #555;
    margin: auto;    
    margin-bottom: 10px;
}
.section-facts .fact .title{
    text-transform: uppercase;
    font-size: 1.04rem;
    font-weight: bold;    
    height: 50px;
}
.section-facts .fact .description{    
    color: #555;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: bold;
}
.section-tell-about-us {
    background-color: #fff;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section-tell-about-us .social-media{
    height: 50px;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.section-tell-about-us .social-media .share{
    margin-right: 8px;
}
.section-tell-about-us .social-media .twitter,
.linkedin,
.facebook,
.googleplus,
.pinterest{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;    
    margin-left: 30px;
    margin-right: 5px;    
}
.section-tell-about-us .social-media .desc{
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}
.section-tell-about-us .social-media .twitter{
    background-color: #34c5f1;
}
.section-tell-about-us .social-media .linkedin{
    background-color: #117cb2;
}
.section-tell-about-us .social-media .facebook{
    background-color: #336296;
}
.section-tell-about-us .social-media .googleplus{
    background-color: #e64238;  
}
.section-tell-about-us .social-media .pinterest{
    background-color: #b81d2b;
}
/*Contact-us*/
.section-contact-us .contact{
    display: flex;
    flex-direction: column;
    max-width: 600px;    
    margin: auto;    
}
.section-contact-us .contact form{
    margin: auto;
    width: inherit;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-contact-us .contact input,
.section-contact-us .contact textarea{
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #ccc;
}
.section-contact-us .contact textarea{
    resize: none;
}
.section-contact-us .contact input:focus,
.section-contact-us .contact textarea:focus{
    outline: 0;
}
.section-contact-us .contact .fields{
    display: flex;
    flex-direction: column;
    height: 40px;    
    margin-bottom: 20px;
    justify-content: space-between;      
}
.section-contact-us .contact .fields.textarea{
    height: 100px;
}
.section-contact-us .contact .fields:last-child{
    margin-top: 40px;
    height: 100px;
}
.section-contact-us .contact .fields label{
    order: 1;
    margin-bottom: -15px;    
}
.section-contact-us .contact .fields input,
.section-contact-us .contact textarea{
    order: 2;
    margin-bottom: 0;    
}
.section-contact-us .contact #name, 
.section-contact-us .contact #email{
    width: 280px;            
}
.section-contact-us .contact #subject,
.section-contact-us .contact #message{
    width: 600px;
}
.section-contact-us .contact .fields textarea{
    height: 90px;
}

.section-contact-us .contact .fields input:focus + label{       
    margin-bottom: 10px;
    font-size: 0.76rem;
    transition: 0.3s ease-out;
}
.section-contact-us .contact .fields textarea:focus + label{
    margin-bottom: 10px;
    font-size: 0.76rem;
    transition: 0.3s ease-out;
}
.section-contact-us .contact .fields input:not(:placeholder-shown) + label {
    margin-bottom: 10px;
    font-size: 0.76rem;
}
.section-contact-us .contact .button{
    width: fit-content;
    margin: auto;
    margin-top: 30px;
}
/*Section Map*/
.section-map{
    background-image: url('../images/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-map--area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map--info{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: #555;
}
.section-map--info-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.section-map--info-item-img{
    width: 30px;
    height: 30px;
    display: inline-flex;
    padding: 5px;
    background-color: #999;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.section-map--info-item-img img{
    width: 15px;
    height: auto;
}
/*Footer*/
footer{
    background-color: #000;
    color: #fff;
    height: 220px;
}
.footer-body{
    margin: auto;
    max-width: 1140px; 
    display: flex;
    justify-content: space-between;
}
.footer-iten{     
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 170px;
    margin-top: 20px;
    width: 300px;     
    text-align: center;
}
.footer-iten .social-medias{
    display: flex;
    height: 40px;    
    width: inherit;
}
.footer-iten .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: #555;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.footer-iten .awax{
    height: 30px;
    position: relative;
    bottom: -110px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
}
.footer-iten--body{    
    background-color: #555;   
    height: inherit; 
    padding: 30px;
}
.footer-iten form{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-iten input{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #999;
    padding: 3px;
    color: #999;
    margin-bottom: -15px;
}
.footer-iten input:focus{
    outline: none;
}
.footer-iten input::-webkit-input-placeholder{
    color: #999;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
}
.footer-iten input::-moz-placeholder{
    color: #999;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
}
.footer-iten textarea::-moz-placeholder{
    color: #999;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
}
.footer-iten .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}